// Bar Mixins
// --------------------------------------------------

@mixin bar-style($bg-color, $border-color, $color) {
  border-color: $border-color;
  background-color: $bg-color;  
  color: $color;

  .title {
    color: $color;
  }
}

@mixin button-style($bg-color, $border-color, $color){
	
}